@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Knewave&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "tailwindcss";

@theme {
  --font-nunito: "Nunito", sans-serif;
  --font-catamaran: "Catamaran", sans-serif;
  --font-noto-sans: "Noto Sans", sans-serif;
}

:root {
  font-family: "Noto Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
}

button {
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
  }
}
/* .custom-pagination {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 30px;
  top: 50%;
  left: 50% !important;
  transform: translate(-50%, -50%);
  z-index: 50;
} */
.custom-bullet {
  width: 8px;
  height: 120px;
  background: #d1d5db;
  border-radius: 10px;
  opacity: 0.5;
  transition: all 0.5s opacity ease;
}

.custom-bullet-active {
  background: #0b5eaa;
  opacity: 1;
}
